<!DOCTYPE html>
<html>
<head>
    <title>Tom's Blog</title>
    {{template "includes.html"}}
</head>
<body>
<div class="flex">
    {{template "sidebar.html" .}}
    <div class="content">
        {{if .Items}}
        <ul class="plain-list post-list">
            {{range .Items}}
                <li class="{{if eq .Type 1}}repost{{end}}">
                    {{if eq .Type 0}}
                        <h1><a href="/post/{{.URI}}">{{.Title}}</a></h1>
                    {{end}}
                    {{if .ResponseToURLPreview}}
                        {{if eq .Type 1}}
                            <h1 title="Repost: {{.Title}}">🔛</h1>
                        {{else if eq .Type 2}}
                            <h1 title="Like: {{.Title}}">🖤</h1>
                        {{else}}
                            <p>In response to:</p>
                        {{end}}
                        {{if not .ResponseToURLPreview.IsFulfilled}}
                            {{if eq .Type 1 2}}
                                <p>{{.Title}}</p>
                                <p><a href="{{.ResponseToURL}}">{{.ResponseToURL}}</a></p>
                            {{end}}
                        {{else}}
                            {{with .ResponseToURLPreview}}
                                <div>
                                    {{if .OembedHTML}}
                                        <div>{{.OembedHTML}}</div>
                                    {{else}}
                                        <p><a href="{{.URL}}">{{.Title}}</a></p>
                                        <p>{{.Snippet}}</p>
                                        {{if .ThumbnailURL}}
                                            <img src="{{.ThumbnailURL}}"/>
                                        {{end}}
                                    {{end}}
                                </div>
                            {{end}}
                        {{end}}
                    {{end}}
                    <div>
                        {{.HTML}}
                    </div>
                    {{if .Tags}}
                        <ul class="tags">{{range .Tags}}<li><a href="/?tag={{.}}">{{.}}</a></li>{{end}}</ul>
                    {{end}}
                    <p><small>{{.DateString}}</small></p>
                    {{if $.Authorized}}<a href="?edit">Edit</a>{{end}}
                </li>
            {{end}}
        </ul>
        <div>
            {{if .Page.HasPrevious}}<a href="./all?page={{.Page.Previous}}">Previous</a>{{end}}
            {{if .Page.HasNext}}<a href="./all?page={{.Page.Next}}">Next</a>{{end}}
        </div>
        {{else}}
            <p>Huh, no items for that one.</p>
        {{end}}
        {{template "footer.html"}}
    </div>
</div>
</body>
</html>