<!DOCTYPE html>
<html>
<head>
	<title>Tom's Blog</title>
</head>
<body>
<ul>
<h1>Tom's Blog</h1>
<a href="/new">New Post</a>
{{range .Items}}
<li class="{{if eq .Type 1}}repost{{end}}">
	{{if eq .Type 0}}
	<p><a href="/content/{{.URI}}">{{.Title}}</a></p>
	{{end}}
	{{if .ResponseToURLPreview}}
	{{if eq .Type 1}}
	<p><a href="/content/{{.URI}}">🔛</a></p>
	{{else if eq .Type 2}}
	<p><a href="/content/{{.URI}}">🖤</a></p>
	{{else}}
	<p>In response to:</p>
	{{end}}
	{{with .ResponseToURLPreview}}
	<div>
		{{if .OembedHTML}}
		<div>{{.OembedHTML}}</div>
		{{else}}
		<p><a href="{{.URL}}">{{.Title}}</a></p>
		<p>{{.Snippet}}</p>
		{{if .ThumbnailURL}}
		<img src="{{.ThumbnailURL}}"/>
		{{end}}
		{{end}}
	</div>
	{{end}}
	{{end}}
	{{if eq .Type 0}}
	<p>{{.Snippet}}</p>
	{{end}}
	<p>{{.DateString}}</p>
</li>
{{end}}
</ul>
</body>
</html>