<!DOCTYPE html>
<html>
<head>
	<title>Editor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/files/editor.css">
	<script type="text/javascript" src="https://unpkg.com/pell"></script>
</head>
<body>
<div class="content">
	<form action="/post" method="POST" class="editor">
		{{if .ID}}
		<h1>Edit Post <a href="/post/{{.URI}}">{{.URI}}</a></h1>
		<input type="hidden" name="ID" value="{{.ID}}"/>
		<input type="hidden" name="Type" value="{{.Type}}"/>
		<input type="hidden" name="TransactionType" value="UPDATE"/>
		{{else}}
		<h1>New Post</h1>
		<div>
			<label class="header">Post Type</label>
			<label><input type="radio" name="Type" value="0" checked/> Post</label>
			<label><input type="radio" name="Type" value="1"/> Repost</label>
			<label><input type="radio" name="Type" value="2"/> Heart</label>
			<label><input type="radio" name="Type" value="4"/> Status</label>
		</div>
		{{end}}

		<div>
			<label class="header">Title</label>
			<input class="fw" type="text" name="Title" value="{{.Title}}"/>
		</div>
		<div>
			<label class="header">URI</label>
			<input class="fw" type="text" name="URI" value="{{.URI}}"/>
		</div>
		<div>
			<label class="header">Date/Time</label>
			<input type="date" name="DateString" value="{{.DateInputString}}"/>
			<input type="time" name="TimeString" value="{{.TimeInputString}}"/>
		</div>
		<div>
			<label class="header" for="ResponseToURL">Response To URL</label>
			<input type="text" name="ResponseToURL" value="{{.ResponseToURL}}"/>
			<label for="Rescrape">
				Rescrape?
				<input type="checkbox" name="Rescrape"/>
			</label>
		</div>
		
		<div>
			<button type="button" data-on="Edit HTML" data-off="WYSIWYG" onclick="toggleEditor(event, this)">Edit HTML</button>
			<div id="content" class="pell"></div>
			<textarea name="Body" cols=80 rows=15>{{.HTML}}</textarea>
		</div>

		<div>
			<label class="header" for="Tags">Tags</label>
			<input class="fw" name="TagString" value="{{.TagString}}"/>
		</div>

		<div>
			<label class="header" for="Snippet">Snippet</label>
			<input class="fw" name="Snippet" value="{{.Snippet}}"/>
		</div>

		<button>Save</button>
	</form>
	{{if .ID}}
		<form action="/post" method="POST" onsubmit="return confirm('Are you sure?')">
			<input type="hidden" name="TransactionType" value="DELETE"/>
			<button type="submit">Delete Post</button>
		</form>
	{{end}}
</div>

<script type="text/javascript">
var content = document.getElementById('content')
var body = document.querySelector("textarea[name='Body']")
var snippet = document.querySelector("input[name='Snippet']")
body.style.display = "none"
function update(html) {
    body.textContent = html
    var p = content.querySelector('p')
    if (p) {
        snippet.value = p.textContent
    }
}
var editor = pell.init({
	element: content,
	onChange: update,
	defaultParagraphSeparator: 'p',
	styleWithCSS: false,
	actions: [
		'heading2',
		'bold',
		'underline',
		'italic',
		'quote',
		'strikethrough',
		'olist',
		'ulist',
		'code',
		'line',
		'link',
		'image',
	],
})
content.addEventListener("click", (ev) => {
    if (ev.target.tagName == "IMG") {
	    var x = window.prompt("Replace URL", ev.target.src)
		if (x != null) {
		    ev.target.src = x
		}
    	update(editor.content.innerHTML)
	}
})
var x = body.textContent
if (x == "" && {{.Type}} == 0) {
	x = "<p>Hello world</p>"
}
editor.content.innerHTML = x
update(x)
function toggleEditor(event, element) {
	var val = body.style.display == "none"
	body.style.display = val ? "block" : "none"
	editor.style.display = val ? "none" : "block"
	element.textContent = val ? element.dataset.off : element.dataset.on
	event.preventDefault()
}
</script>

</body>
</html>