<!DOCTYPE html>
<html>
<head>
	<title>Repost</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/files/editor.css">
</head>
<body>
<form action="/post" method="POST">
	<input type="hidden" name="Type" value="1"/>
	<div>
		<label for="ResponseToURL">URL</label>
		<input type="text" name="ResponseToURL"/>
		<label for="Rescrape">
			Rescrape?
			<input type="checkbox" name="Rescrape"/>
		</label>
		<button>Repost</button>
	</div>
</form>
</body>
</html>