<aside>
	<div class="fill">
		<img src="https://avatars1.githubusercontent.com/u/522209?s=260&v=4" style="border-radius: 50%" width=200>
		<h1>Tom's Blog</h1>
		<nav>
			<ul class="plain-list">
				<li><a href="/">Home</a></li>
				<li><a href="https://github.com/tmathews" target="_blank">GitHub</a></li>
				<li><a href="/post/gpg">GPG Key</a></li>
				<li><a href="/page/history">History</a></li>
				{{if $.Authorized}}
				<hr/>
				<li><a href="./new">New Post</a></li>
				<li><a href="./new?type=repost">Repost</a></li>
				<li><a href="./new?type=heart">Heart</a></li>
				<li><a href="./new?type=status">Set Status</a></li>
				<li><a href="./files">Files</a></li>
				<li><a href="./logout">Logout</a></li>
				{{end}}
			</ul>
		</nav>
	</div>
</aside>